.container {
  display: flex;
  margin-top: 1rem;
}

.quantityContainer {
  display: flex;
  gap: 2rem;
  background-color: var(--color-light-grayish-blue);
  border: none;
  border-radius: 10px;
  padding: 1rem;
  width: fit-content;

  button {
    border: none;
    background-color: transparent;
  }
}

.quantityIcon {
  color: var(--color-orange);
  font-weight: var(--weight-bold);
}

.addToCart {
  background-color: var(--color-orange);
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  color: var(--color-very-dark-blue);
  font-weight: var(--weight-bold);

  span {
    margin-left: 1rem;
  }
}
