.nav {
  height: 6rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: var(--container-padding);
  border-bottom: solid 1px var(--color-light-grayish-blue);
}

.listContainer {
  display: flex;
  gap: 3rem;
  align-items: center;
  height: 100%;
}

.wordmark {
  font-size: 2rem;
  font-weight: var(--weight-bold);
}

.list {
  list-style: none;
  display: flex;
  gap: 1.75rem;
  height: 100%;

  li {
    align-content: center;
    color: var(--color-grayish-blue);
    height: 100%;
    border-bottom: solid 2px var(--color-white);
  }

  li:hover {
    border-bottom: solid 2px var(--color-orange);
  }
}

.actionContainer {
  display: flex;
  gap: 3rem;
  align-items: center;
  height: 100%;

  img:hover {
    border: solid 2px var(--color-orange);
    border-radius: 50px;
  }
}

.icon {
  color: var(--color-grayish-blue);
}

.actionContainer img {
  height: 50%;
  width: auto;
}
