@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
  --color-orange: hsl(26, 100%, 55%);
  --color-pale-orange: #ffac6a;
  --color-very-dark-blue: hsl(220, 13%, 13%);
  --color-grayish-blue: hsl(219, 9%, 45%);
  --color-light-grayish-blue: hsl(223, 64%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --font-size: 16px;
  --weight-normal: 400;
  --weight-bold: 700;
  --container-padding: 0 7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--color-white);
  color: var(--color-very-dark-blue);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
}

img {
  display: block;
}
